/*

Territoire de cirque

Author: Samuel Rivers-Moore + Pierre Tandille
URL:    http://samuelriversmoore.net — http://lecollecteur.fr
Email:  pierretandille@gmail.com

*/

/* Source Sans Pro
-------------------------------------------------- */
@font-face {
    font-family: 'karla';
    src: url('../fonts/karmilla-regular-015-webfont.eot');
    src: url('../fonts/karmilla-regular-015-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karmilla-regular-015-webfont.woff2') format('woff2'),
         url('../fonts/karmilla-regular-015-webfont.woff') format('woff'),
         url('../fonts/karmilla-regular-015-webfont.ttf') format('truetype'),
         url('../fonts/karmilla-regular-015-webfont.svg#karmillaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'karla';
    src: url('../fonts/karmilla-bold-015-webfont.eot');
    src: url('../fonts/karmilla-bold-015-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karmilla-bold-015-webfont.woff2') format('woff2'),
         url('../fonts/karmilla-bold-015-webfont.woff') format('woff'),
         url('../fonts/karmilla-bold-015-webfont.ttf') format('truetype'),
         url('../fonts/karmilla-bold-015-webfont.svg#karmillabold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'karla';
    src: url('../fonts/karla-italic-webfont.eot');
    src: url('../fonts/karla-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-italic-webfont.woff2') format('woff2'),
         url('../fonts/karla-italic-webfont.woff') format('woff'),
         url('../fonts/karla-italic-webfont.ttf') format('truetype'),
         url('../fonts/karla-italic-webfont.svg#karlaitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'karla';
    src: url('../fonts/karla-bolditalic-webfont.eot');
    src: url('../fonts/karla-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karla-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/karla-bolditalic-webfont.woff') format('woff'),
         url('../fonts/karla-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/karla-bolditalic-webfont.svg#karlabolditalic') format('svg');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'whoismono';
    src: url('../fonts/whois-mono.eot');
    src: url('../fonts/whois-mono.eot?#iefix') format('embedded-opentype'),
         url('../fonts/whois-mono.woff') format('woff'),
         url('../fonts/whois-mono.ttf') format('truetype'),
         url('../fonts/whois-mono.svg#whoismono') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rubik';
    src: url('../fonts/RUBIK-BOLD.TTF');
    src: url('../fonts/RUBIK-BOLD.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Pix
-------------------------------------------------- */
img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
	height: auto;
}


/* Links
-------------------------------------------------- */
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:hover {
  text-decoration: none;
}
a:focus {
	outline: none;
}

/* Characters styles
-------------------------------------------------- */
.nav-font {
	font-family: "whoismono";
	font-size: 1.3rem;
	line-height: 1.3rem;
	letter-spacing: .5px;
}

/* Shapes
-------------------------------------------------- */
.forme.cercle {
	border-radius: 100%;
	padding-bottom: 100%;
}

/* Colors 
-------------------------------------------------- */
/* MISSIONS */
.rubrique-missions .menu .active {
   border: .25rem solid #31e967;
}
.rubrique-missions #menu-second li.active a {
   border-bottom: .25rem solid #31e967;
}
.rubrique-missions .chapo {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1rem solid #31e967;
}
.rubrique-missions .forme.cercle {
	background-color: #31e967;
}

/* MEMBRES */
.rubrique-membres .menu .active {
   border: .25rem solid #ffc438;
}
.rubrique-membres #menu-second li.active a {
   border-bottom: .25rem solid #ffc438;
}

/* RESSOURCES */
.rubrique-ressources .menu .active {
   border: .25rem solid #ff7651;
}
.rubrique-ressources #menu-second li.active a {
   border-bottom: .25rem solid #ff7651;
}
.rubrique-ressources #folder-content li .caption {
	color: #ff7651;
}
.rubrique-ressources .introduction {
	border-bottom: 1rem solid #ff7651;
	margin-bottom: 1rem;
}
.rubrique-ressources .file-infos {
	background-color: #ff7651;
}
#searchbar input[type=submit] {
	background-color: #ff7651;
}


/* Helpers
-------------------------------------------------- */

/* Clearfix  */
.cf:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Floats */
.pull-left {
	float: left;
	text-align: left;
}
.pull-right {
	float: right;
	text-align: right;
}

/* align */
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

/* Fond diffus */
.trame {
	background-image: url('../images/diffusion.png')
}
.trame50 {
	background-image: url('../images/diffusion50.png')
}

/* Teinte bleu */
.tint-blue {
	mix-blend-mode: screen;
	vertical-align: bottom;
	filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
	position: relative;
}


/* Site
-------------------------------------------------- */
html {
  height: 101%;
  font-family: "karla", sans-serif;
  font-size: 16px;
}
body {
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #0000E6;
	/*background-color: #F5F5F5;*/
	max-width: 1600px;
	position: relative;
}


/* Header
-------------------------------------------------- */
#logo-tdc {
	text-align: center;
	position: fixed;
	top: .65rem;
	left: 0;
	z-index: 9999;
	width: 25%;
	padding: 0 2rem;
}
#logo-tdc img {
	display: inline-block;
	width: 11.5rem;
}
#logo-tdc a {
	text-decoration: none;
	border: none;
	display: block;
}


/* Navigation
-------------------------------------------------- */
.menu a {
	border: 0;
}
.menu a:hover {

}
.menu .active {
	border: .25rem solid;
}
.menu li {
	text-transform: uppercase;
}
.menu > li {

}
.menu > li > a {
	padding: 3px 9px 2px;
	background-color: #fff;
}

.menu img {
	display: inline;
	height: 1rem;
	line-height: 1.3rem;
	vertical-align: top;
	margin-top: 1px;
}
.menu .home img {
	height: auto;
	width: 10vw;
	margin-top: -0.5rem;
}

@media screen and (min-width: 480px) {
  body {
    
  }
  .logo {
    
  }
  .menu {
		display: flex;
		position: fixed;
		top: 0px;
		right: 0px;
		background-color: #FFF;
		z-index: 999;
		height: 4rem;
		padding: 1.3rem 2rem 1.3rem 0;
		left: 25%;
		max-width: 1600px;
		margin: auto;
		margin-left: 2rem;
		border-bottom: 1px solid;
  }
  .menu > li {
		flex-grow: 1;
		flex-shrink: 1;
		flex-direction: row;
		flex-wrap: nowrap;
		list-style-type: none;
  }
	.menu > li:last-child a {
		border-radius: 100%;
	}
	.menu > li:last-child {
		flex-grow: 0;
		width: 1.4rem;
	}
	#menu-second {
		position: absolute;
		top: 8rem;
		bottom: 2rem;
		overflow: auto;
		margin: 0;
		right: 0;
		left: 0;
		margin-left: 2rem;
		padding-right: 2rem;
	}
	#menu-second ul {
		list-style-type: none;
		position: relative;
		border-bottom: 1px solid;
	}
	#menu-second li {
		padding: .75rem 2rem;
		background-color: #fff;
		/*border-left: 1px solid;
		border-right: 1px solid;*/
	}
	#menu-second li:first-child {
		border-top: 1px solid;	
	}
	#menu-second li.active {
		/*border-left: 0.25rem solid;
		padding-left: 1.25rem;*/
	}
	#menu-second li a {
		border: 0;
	}
	#menu-second li.active a {
		border: 0;
		border-bottom: .25rem solid;
	}
	#menu-second li>img {
		display: inline;
		height: 0.7rem;
		width: auto;
	}
	#menu-second li.parent {
		text-align: center;
		border: 0;
		border-bottom: 1px solid;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
	}
	#menu-second li.parent a {
		white-space: nowrap;
	}
	
	#menu-second .retour {
		text-indent: -99999px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 2rem;
	}
	#menu-second .retour .icon {
		position: absolute;
		top: 50%;
		left: 1rem;
		height: 0;
	}
	#menu-second .retour .icon:after, #menu-second .retour .icon:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	#menu-second .retour .icon:after {
		border-color: rgba(255, 255, 255, 0);
		border-right-color: #fff;
		border-width: .75rem;
		margin-top: -.75rem;
	}
	#menu-second .retour .icon:before {
		border-color: rgba(194, 225, 245, 0);
		border-right-color: #0000E6;
		border-width: calc(.75rem + 1px);
		margin-top: calc(-.75rem - 1px);
	}
	
	.exergue {
		margin: 1rem 0;
		font-family: 'karla';
		font-size: .9rem;
		line-height: 1.1rem;
	}
}

/* Plus
-------------------------------------------------- */
.btn-menu-plus img {
	transition: transform .2s;
}
.btn-menu-plus.close-plus img {
	transform: rotateZ(-45deg);
}
#menu-plus {
	border-bottom: 1px solid;
	position: fixed;
	top: 4rem;
	left: 25%;
	right: 0;
	z-index: 99999;
	background-color: #fff;
	display: none;
	padding: 1rem 2rem;
	max-width: 1600px;
	margin: auto;
}
#menu-plus .columns {
	margin: 0.5rem 0;
}
#menu-plus .column {
	text-align: center;
}
#menu-plus .column img {
	height: 7.5rem;
	display: inline-block;
}
#menu-plus input:not([type=submit]) {
	width: 75%;
	text-align: center;
}

/* Anchor Controlled Display
-------------------------------------------------- */

.anchor-controlled .target, .anchor-controlled .target-content {
	display:none;
}
.anchor-controlled .target:target ~ .target-content {
	display:block;
}

/* Styles de caractères
-------------------------------------------------- */
h1, .h1, h2, .h2 {
	font-family: "rubik", sans-serif;
  font-size: 1.4rem;
	line-height: 1.5rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	font-weight: normal;
}
h2, .h2 {
	text-align: center;
}
h3, .h3, h4, .h4 {
  font-family: "whoismono", monospace;
  font-size: 1.1rem;
	line-height: 1.5rem;
	margin-bottom: 1rem;
	font-weight: normal;
}
h4, .h4 {
	text-align: center;
}
.small {
	font-size: 0.85rem;
	line-height: 1rem;
}
.emphase {
  font-family: "whoismono",monospace;
	font-size: 1rem;
	line-height: 1.3rem;
}
.secondaire {
	font-family: "whoismono",monospace;
	font-size: .8rem;
	line-height: 1.1rem;
	color: #F6C525;
}
.secondaire em {
	font-style: normal;
	text-decoration: underline;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}
blockquote ol {
	white-space: pre-line;
	font-family: "rubik";
	text-transform: uppercase;
	font-size: 1rem;
	margin-left: 2rem;
	line-height: 0.3rem;
}
blockquote ol li {
	padding-left: 1rem;
	line-height: 1.1rem;
}
figcaption {
	font-family: "whoismono",monospace;
	font-size: 0.85rem;
	line-height: 1.1rem;
	color: #F6C525;
	margin-top: 0;
	margin-left: 2rem;
}
a.noborder {
	border: none;
}
.centered {
	text-align: center;
}

/* Structure
-------------------------------------------------- */
#left-side {
	padding-top: 8rem;
	width: 25%;
	position: fixed;
	bottom: 0rem;
	top: 0;
}
main {
  padding: 8rem 2rem;
	width: 50%;
	margin-left: 25%;
	position: relative;
	float: left;
}
main.wide {
	width: 75%;
}
#right-side {
	padding: 4rem 0rem 4rem 2rem;
	width: 25%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,.9);
	transition: all .7s;
	z-index: 9;
	overflow: hidden;
}
#right-side:hover {

}
#right-side .gallery {
	margin-right: -.2rem;
	margin-left: 0;
}
#right-side:hover .gallery {
	margin-right: 0;
	margin-left: -.2rem;
	transition: all .3s;
}
#right-side.open {
	width: 100%;
	padding-left: 0;
	padding-top: 4rem;
	margin-top: 0;
	z-index: 999;
}

/* Main
-------------------------------------------------- */
.main hr {
  margin: 3rem 0;
  height: 1px;
  background: rgb(0,0,230);
}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1rem;
}
.main a {
  border-bottom: 1px solid;
}
.main a:hover {

}
.main ul {
	list-style-position: inside;
}
	
.main .text-wrapper {
	max-width: 35rem;
}
.main .text-wrapper h1, .main .text-wrapper h2 {
	font-size: 1.4rem;
	line-height: 1.5rem;
	margin: 3rem 0 1rem 2rem;
	text-transform: uppercase;
	text-align: left;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1rem;
}

/* Page
-------------------------------------------------- */
.chapo {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1rem solid;
}
.informations-secondaires {
	margin-left: 2rem;
	height: calc(100vh - 5rem);
}

/* Page Missions
-------------------------------------------------- */
#page-missions-logo { position:relative; height:4.1rem;}
#page-missions-logo figure { position: absolute; width: 75%; z-index: -1; transform: translateX(-60%); top: -4.2rem; }
#page-missions-logo figure img { width:100% }

/* Page Gallery
-------------------------------------------------- */
.gallery {
	transition: all 1s;
	margin-left: 0;
	z-index: 9999;
	cursor: ew-resize;
	text-align: center;
}
.gallery .slide-wrapper {
	margin-bottom: 4rem;
	height: calc(100vh - 8rem);
	position: relative;
}
.gallery .slide-wrapper figure {
	position: absolute;
	width: 100%;
	height: 100%;
}
.gallery .slide-wrapper figure img {
	width: auto;
	min-height: 100%;
	max-width: unset;
	max-height: 100%;
	margin: auto;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}
.open .gallery .slide-wrapper figure img {
	
}
.gallery .caption {
	display: none;
	width: 80%;
	max-width: 900px;
	position: absolute;
	top: 102%;
	left: 50%;
	transform: translateX(-50%);
}
.open .gallery .caption {
	display: inline-block;
}
.gallery .btn-close {
	position: fixed;
	top: 1.5rem;
	right: 2rem;
	opacity: 0;
	border: none;
	transition: all .5s;
	transition-delay: 0s;
}
.gallery .btn-close img {
	display: inline;
	height: 1rem;
	line-height: 1.3rem;
	vertical-align: top;
	margin-top: 1px;
	border: 0;
	text-decoration: none;
}
.gallery-open .gallery .btn-close {
	top: 1rem;
	opacity: 1;
	transition-delay: .2s;
}
body.gallery-open {
	overflow: hidden;
}
body.gallery-open #right-side {
	overflow-y: auto;
}

/* Page membres : Carte
-------------------------------------------------- */
.template-membres main {

}
#map-membres {
	width: 100%;
	height: calc( 100vh - 10rem );
	margin-bottom: 2rem;
	background-color: #0000E6;
}

/* filters */
.filter-group {
	font: 14px/20px 'whoismono', Arial, Helvetica, sans-serif;
	/*position: fixed;
	top: 4rem;
	right: 2rem;
	left: 25%;
	margin-left: 2rem;
	height: 4rem;
	display: flex;*/
	position: absolute;
	z-index: 9;
	bottom: 2rem;
	right: 2rem;
	border: 1px solid;
	background-color: #fff;
	
}
.filter-group input[type=checkbox] {
		display: none;
}
.filter-group input[type=checkbox] + label {
	cursor: pointer;
	padding: .5rem .7rem .4rem .5rem;
	display: block;
	/*text-align: center;
	flex: 1;
	display: flex;
	align-items: center;*/
}
.filter-group input[type=checkbox] + label span {
	/*display: inline-block;
	width: 100%;*/
}
.filter-group input[type=checkbox] + label:hover,
.filter-group input[type=checkbox]:checked + label{
	/*background-color: #eee;*/
	background-image: url(../images/diffusion50.png);
}

.filter-group input[type=checkbox] + label:after {
	content: '✔';
	margin-left: 5px;
	visibility: hidden;
}
.filter-group input[type=checkbox]:checked + label:after {
		display: none;
}

.filter-group input[type=checkbox]:checked + label:before {
		content: '✔';
		margin-right: 5px;
}


/* Pop-ups */
.mapboxgl-popup-content {
	position: relative;
	background: #fff;
	border-radius: 0px;
	box-shadow: 3px 3px 0 #0000E6;
	border: 1px solid;
	padding: 2rem 2rem 3rem 2rem;
	pointer-events: auto;
	max-width: 250px;
}
.mapboxgl-popup-content h2, .mapboxgl-popup-content h3 {
	text-align: left;
	font-size: 1rem;
	line-height: 1.3rem;
	margin: 0;
}
.mapboxgl-popup-content h2 {
	font-size: 1.1rem;
	line-height: 1.4rem;
}
.mapboxgl-popup-content .ville {
	position: absolute;
	margin: 0;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
}
.mapboxgl-popup-content figure {
	display: none;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
	border-top-color: #0000e6;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip, 
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip, 
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
	border-bottom-color: #0000e6;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
	border-right-color: #0000e6;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
	border-left-color: #0000e6;
}
.mapboxgl-popup-close-button {
	color: #0000e6;
	top: .2rem;
	right: .2rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
}
.mapboxgl-popup-close-button:hover {
    background-color: #eee;
}

/* Page Membres : Liste
-------------------------------------------------- */
#liste-membres {
	overflow: hidden;
}
#liste-membres ul {
	list-style-type: none;
	margin-right: -5%;
}
#liste-membres ul li{
	border: 1px solid;
	float: left;
	height: 400px;
	width: 20%;
	margin-right: 5%;
	margin-bottom: 2rem;
	padding: 1rem;
	position: relative;
}
#liste-membres ul li h2 {
	margin-bottom: .1rem;
}
#liste-membres ul li h2, #liste-membres ul li h3, #liste-membres ul li h4 {
	text-align: left;
}
#liste-membres ul li .ville {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	padding: .2rem 1rem;
	color: #ffc438;
}
#liste-membres ul li figure {
	height: 50%;
	position: relative;
	background-color: #0000E6;
}
#liste-membres ul li figure img {
	height: auto;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#liste-membres ul li figure img {
	mix-blend-mode: screen;
	filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}
#liste-membres ul li:hover figure img {
	mix-blend-mode: inherit;
	-webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}


/* Page Membre
-------------------------------------------------- */
main .cartouche {
	border: 1px solid;
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
}
.cartouche .row {
	border-bottom: 1px solid;
	display: flex;
	height: 100%;
}
.cartouche .row:last-child {
	border-bottom: none;
}
.cartouche .row .column {	
	flex: 1;
	border-right: 1px solid;
}
.cartouche .row .column:last-child {	
	border-right: none;
}
.cartouche .cell {
	padding: 0.5rem 1rem;
	height: 100%;
}
.cartouche ul {
	list-style-type: none;
}
.cartouche p {
	margin: 0;
}
main h1 {
	font-size: 2rem;
	line-height: 120%;
}
main .negative {
	background: #0000e6;
	color: #fff;
}
.cartouche h1, .cartouche h3 {
	margin: 0;
}
main .column.logo {
	max-width: 33%;
	text-align: center;
}
main figure.logo {
	margin: 0;
	display: inline-block;
	max-width: 100%;
	background-color: #0000E6;
}
main figure.logo img {
	margin: 0;
	max-height: 6rem;
	mix-blend-mode: screen;
	vertical-align: bottom;
	filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}
main .cell:hover figure.logo img {
	mix-blend-mode: inherit;
	-webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
#activites {
	margin: 0;
}
#activites li {
	display: inline-block;
	padding: .2rem 2rem .2rem 0rem;
	text-decoration: underline;
}

/* Ressources : Folder Search
-------------------------------------------------- */
#searchbar {
	border-bottom: 1px solid;
	padding: 1rem;
	border-top: 1px solid;
	background-image: url("../images/diffusion50.png");
	margin-top: -1rem;
}
#searchbar form {
	display: flex;
}
#searchbar input {
	margin: 0;
	border: 0;
}
#searchbar input:not([type=submit]) {
	color: #0000E6;
	width: 50%;
	width: calc(50% - 2rem);
	flex: 3;
	margin-right: 2rem;
}
#searchbar input[type=submit] {
	border-radius: 100%;
	width: 2rem;
}
#searchbar select {
	color: #0000E6;
	font-family: "karla";
	font-size: 0.85rem;
	height: 2rem;
	border: 0;
	padding: 0 .5rem;
	flex: 1;
	margin-right: 2rem;
}

/* Ressources : Folder Header
-------------------------------------------------- */
#folder-header figure {
	background-position: center center;
	background-size: cover;
	height: 24rem;
}
#folder-header {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4rem;
}
#folder-header figure {
	width: 100%;
	margin: 0;
}
#folder-header .titraille {
	flex: 1;
	margin-top: 1rem;
	margin-right: 2rem;
	border-bottom: 1px solid;
}
#folder-header .edito {
	flex: 1;
	padding-left: 2rem;
	margin-top: 1rem;
}
#folder-header .edito p:last-child {
	margin: 0;
}

/* Ressources : Folder Content
-------------------------------------------------- */
#folder-content {
	overflow: hidden;
	margin-top: 2rem;
}
#folder-content ul {
	list-style-type: none;
	margin-right: -4rem;
}
#folder-content li {
	width: 25%;
	margin-bottom: 4rem;
	float: left;
	padding-right: 4rem;
	position: relative;
}
#folder-content li .icon {
	border: 1px solid;
	width: 100%;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: .5rem;
}
#folder-content li.folder .icon {
	box-shadow: 2px 2px 0 #fff, 3px 3px 0 #0000E6, 5px 5px 0 #fff, 6px 6px 0 #0000E6;
}
#folder-content .icon h3 {
	position: absolute;
	top: 0px;
	bottom: 0px;
	padding: 0.5rem;
}
#folder-content li .icon:after {
	padding-top: 100%;
  display: block;
  content: '';
}
#folder-content li .caption {
	position: absolute;
	top: 100%;
	margin-top: 0rem;
	max-height: 3rem;
	padding-right: 4rem;
}
#folder-content li p, #folder-content li h3 {
	margin: 0;
}

/* Ressources : Article
-------------------------------------------------- */
.template-file main .author {
	margin: 0;
	text-align: center;
	font-weight: bold;
}
.template-file main .member {
	margin: 0;
	text-align: center;
}
.template-file main h1 {
	margin-bottom: 2rem;
}
.template-file .cover {
	position: relative;
	height: 25rem;
}
/*
.template-file .cover h1 {
	text-align: left;
	margin-bottom: 0.5rem;
	position: absolute;
	background-color: #fff;
	left: 1rem;
	padding: 1rem;
	top: 1rem;
	color: #ff7651;
	border: .25rem solid;
}
*/
.template-file .cover figure {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: cover;
	background-position: center;
}
.template-file .file-infos {
	position: absolute;
	width: 20rem;
	height: 20rem;
	border-radius: 100%;
	right: 0;
	top: 100%;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: rgb(255, 255, 255);
}
.template-file main .date, .template-file main h1 {
	text-align: center;
}
.template-file h1.main-title {
	margin: 1rem 0px;
	font-size: 1.8rem;
	line-height: 2rem;
}


/* Colonnes dans le template
-------------------------------------------------- */
.grille {
	overflow: hidden;
}
.grille .row {
	margin-right: -4rem;
}
.grille .col {
	float: left;
	padding-right: 4rem;
}
.col-1-4 {
	width: 25%;
}
.col-2-4 {
	width: 50%;
}
.col-3-4 {
	width: 75%;
}

/* Colonnes dans le texte
-------------------------------------------------- */
.columns {
  margin-right: -2rem;
	margin-bottom: 1rem;
}
.columns .column {
  display: inline-block;
  vertical-align: top;
  padding-right: 2rem;
}
.columns-1 .column {
  width: 100%;
}
.columns-2 .column {
  width: 50%;
}
.columns-3 .column {
  width: 33.33%;
}
.columns-4 .column {
  width: 25%;
}
.columns-5 .column {
  width: 20%;
}

/* Forms
-------------------------------------------------- */
form h2 {
	margin-bottom: 1rem;
}
input {
	border: 1px solid;
	height: 2rem;
	line-height: 2rem;
	color: #0000E6;
	font-family: "karla";
	font-size: 1rem;
	margin-bottom: 1rem;
	padding: 0 .5rem;
}
input[type=submit]{
	background-color: #0000e4;
	color: #fff;
	cursor: pointer;
}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 0 6em;
  font-size: .8em;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: red;
  padding-left: .25em;
}
