/* HOME
-------------------------------------------------- */

.rubrique-home footer {
	margin: 0;
}

.actu h3 {
	text-transform: uppercase;
	font-size: .85rem;
}

.actu p {
	font-size: 1.1rem;
	line-height: 130%;
	margin: 0;
}

.actu p a {
	text-decoration: none;
	border-bottom: 2px solid #25ff20;
}

.actu figure .kirby-plugin-oembed {
	padding-top: 66% !important;
}

.actu figure .forme {
	padding-bottom: 66% !important;
	margin: 0;
}

.actu figure .forme.cercle {
	margin: 0 15%;
}

.actu figure .forme.arc {
	margin: 0 13%;
	width: auto;
}

.actu figure {
	margin: 0;
}

.actu figure img {
	display: block;
}


/* Accroche */

#tdc-accroche {
	position: absolute;
	top: 0;
	left: 1rem;
	width: 25%;
	width: calc(25% - 4rem);
	z-index: 999;
	text-align: center;
}

#tdc-accroche h4 {
	margin: 0px;
	mix-blend-mode: multiply;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}
#tdc-accroche h4.hide {
	opacity: 0;
}

#tdc-accroche .forme {
	width: 80%;
	z-index: -1;
	padding-bottom: 55%;
	margin: 0px;
	display: inline-block;
}


/* Actus Principales */

#actualites-principales {
	padding-top: 44%;
	position: relative;
	margin-bottom: 4rem;
}

#actualites-principales .actu {
	position: absolute;
	width: 100%;
}

#actualites-principales .actu:nth-child(odd) {
	top: 0;
	right: 0;
}

#actualites-principales .actu:nth-child(even) {
	bottom: 0;
	left: 0;
}

#actualites-principales .actu:nth-child(odd) .texte {
	position: absolute;
	width: 30%;
	top: 0;
	right: 44%;
	padding-right: 2rem;
	padding-left: 2px;
}

#actualites-principales .actu:nth-child(odd) figure {
	position: absolute;
	width: 44%;
	right: 0;
	top: 0;
}
#actualites-principales .actu:nth-child(odd) figcaption {
	position: absolute;
	bottom: 100%;
	left: 100%;
	transform: rotate(90deg);
	transform-origin: 0px 100% 0px;
	margin: 0px;
	opacity: 0.5;
	font-size: 0.7rem;
	width: 66%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#actualites-principales .actu:nth-child(even) .texte {
	position: absolute;
	width: 30%;
	bottom: 0;
	left: 44%;
	padding-right: 2rem;
}

#actualites-principales .actu:nth-child(even) figure {
	position: absolute;
	width: 44%;
	left: 0;
	bottom: 0;
	padding-right: 2rem;
}
#actualites-principales .actu:nth-child(even) figcaption {
	position: absolute;
	bottom: 0px;
	transform: rotate(-90deg);
	transform-origin: 0px 100% 0px;
	margin: 0px;
	opacity: 0.5;
	font-size: 0.7rem;
	width: 66%;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* Réseaux */

#reseaux {
	position: absolute;
	bottom: 15%;
	right: 0px;
	width: 23%;
	padding-right: 2rem;
}

#reseaux h3 {
	margin: 0;
}

#reseaux .encadre {
	border: 1px solid;
	height: 3rem;
	line-height: 3rem;
	padding: 0 1rem;
	text-align: center;
	background-color: #fff;
}

#reseaux .encercle {
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	border-radius: 50%;
	margin: 0px 0px 0px -1.5rem;
	color: #fff;
	background-color: #001abb;
	mix-blend-mode: multiply;
}

#reseaux .facebook {
	position: absolute;
	left: 50%;
	bottom: 6.2rem;
}

#reseaux .newsletter {
	position: absolute;
	left: 50%;
	bottom: 3.1rem;
	-webkit-transform: translateX(-50%) rotate(15deg);
	transform: translateX(-50%) rotate(15deg);
}

#reseaux .twitter {
	position: absolute;
	left: 50%;
	bottom: 0rem;
}


/* Actus Secondaires */

#actualites-secondaires {
	clear: both;
	margin-right: -2rem;
	margin-bottom: 4rem;
}

#actualites-secondaires .actu {
	padding-right: 2rem;
	width: 33.33%;
	float: left;
}

#actualites-secondaires .actu p {
	font-size: .85rem;
}

#actualites-secondaires figure {
	width: 66.66%;
	float: left;
	padding-right: 2rem;
	position: relative;
}

#actualites-secondaires figcaption {
	position: absolute;
	bottom: 0px;
	transform: rotate(-90deg);
	transform-origin: 0px 100% 0px;
	margin: 0px;
	opacity: 0.5;
	font-size: 0.7rem;
	max-width: 59%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#actualites-secondaires figcaption:hover {
	max-width: none;
	background-color: #fff;
	z-index: 99999;
}

#actualites-secondaires .texte {
	width: 33.33%;
	float: left;
}


/* Actus Membres */

#actualites-membres {
	margin-right: -2rem;
	margin-bottom: 4rem;
	position: relative;
}

#actualites-membres .event {
	width: 11%;
	float: left;
	padding-right: 2rem;
	min-height: 5rem;
	background-color: #fff;
	padding-top: 1rem;
	margin-top: -1rem;
	height: 10rem;
}

#actualites-membres .event.chapitre h4 {
	border-bottom: 2px solid #25ff20;
	display: inline-block;
}

#actualites-membres .background {
	background-image: url(../../images/ligne-zig.png);
	background-size: auto 100%;
	background-position: center;
	background-color: #25ff20;
	position: absolute;
	top: -.5rem;
	left: 0;
	right: 2rem;
	height: 3.5rem;
	z-index: -1;
}

#actualites-membres p,
#actualites-membres h4,
#actualites-membres h2 {
	margin: 0;
	padding: 0;
	line-height: 1rem;
	margin-bottom: .1rem;
	font-size: .85rem;
	text-align: left;
}
#actualites-membres h2 {
	color: #25ff20;
}

#actualites-membres h2 {
	margin-bottom: .5rem;
}

#actualites-membres .event-type {
	text-transform: uppercase;
}

#actualites-membres .event-title {
	font-weight: bold;
}

#actualites-membres .event-title a {
	border: 0;
}

@media screen and (max-width: 1450px) {
	#actualites-principales {
    padding-top: 50%;
	}
	#actualites-secondaires figure {
    width: 50%;
	}
	#actualites-secondaires .texte {
    width: 50%;
	}
	#actualites-membres .event {
    width: 20%;
	}
}

@media screen and (max-width: 1200px) {
	#actualites-principales {
    padding-top: 56%;
	}
	#actualites-membres .event {
    width: 25%;
	}
	#actualites-membres .event:last-child {
		display: none;
	}
}

@media screen and (max-width: 960px) {
	#actualites-principales {
    padding: 0;
		margin: 0;
	}
	#tdc-accroche, 
	#reseaux,
	#actualites-principales .actu, 
	#actualites-principales .actu figure, 
	#actualites-principales .actu .texte {
		position: relative !important;
	}
	#tdc-accroche {
		width: 20rem;
    text-align: center;
    margin: auto;
		margin-bottom: 2rem;
		left: 0;
	}
	#actualites-principales .actu {
		margin-bottom: 2rem;
	}
	#actualites-principales .actu:nth-child(odd) figure,
	#actualites-principales .actu:nth-child(even) figure {
		float: left;
    padding-right: 2rem;
    width: 50%;
	}
	#actualites-principales .actu:nth-child(odd) .texte,
	#actualites-principales .actu:nth-child(even) .texte {
		width: 50%;
    padding: 0;
    float: left;
    left: 0;
	}
	#actualites-principales .actu:nth-child(even) figcaption,
	#actualites-principales .actu:nth-child(even) figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		transform: rotate(-90deg);
		transform-origin: 0px 100% 0px;
		margin: 0px;
		opacity: 0.5;
		font-size: 0.7rem;
		width: 66%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#reseaux {
		height: 10rem;
    margin: auto;
    margin-bottom: 2rem;
	}
	
	#actualites-secondaires figure {
    width: 100%;
		margin-bottom: 1rem;
	}
	#actualites-secondaires .texte {
    width: 100%;
	}
}

@media screen and (max-width: 650px) {
	.actu h3 {
    margin-bottom: 0rem;
	}
	
	#tdc-accroche {
		width: 100%;
    margin: 0;
		margin-bottom: 2rem;
		padding: 0;
	}
	#actualites-principales .actu:nth-child(odd) figure,
	#actualites-principales .actu:nth-child(even) figure {
    width: 100%;
		padding: 0;
		margin-bottom: 1rem;
	}
	#actualites-principales .actu:nth-child(odd) .texte,
	#actualites-principales .actu:nth-child(even) .texte {
		width: 100%;
	}
	
	#actualites-secondaires {
		margin: 0;
	}
	#actualites-secondaires .actu {
    padding: 0;
    width: 100%;
    margin-bottom: 2rem;
	}
	#actualites-secondaires figure {
		padding: 0;
	}
	
	#actualites-membres .event {
    width: 50%;
	}
	#actualites-membres .background {
    display: none;
	}
}